form {
  width: 100%;
}

.new-user__controls {
  margin-bottom: 3px;
  text-align: left;
  width: 100%;
}

.new-user__control {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.new-user__control label {
  margin-bottom: 6px;
}

.new-user__control input {
  margin-bottom: 6px;
  height: 25px;
  border: solid 1px rgb(202, 202, 202);
}

.new-user__actions button {
  display: flex;
  border: none;
  background-color: rgb(88, 0, 88);
  padding: 6px 20px;
  color: white;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}

.new-user__actions button:hover,
.new-user__actions button:active {
  background-color: rgb(124, 23, 124);
  transition: all 0.15s ease;
}
